{% extends "layout.html" %}

{% block content %}
<h1>About</h1>

<p>Make stories with a friend.  Take turns writing sentences or paragraphs, then publish the story, keeping it private or public for anyone to see.</p>

<h3>Tech Stack</h3>

<p>The backend is written in <a href="https://golang.org">Go</a> with help from the <a href="https://echo.labstack.com">Echo framework</a>.  The frontend is plain HTML, CSS, and vanilla JavaScript. Source for this project can be found on <a href="https://github.com/inchingforward/st">GitHub</a>.</p>

<h3>Contact</h3>

<p>Send questions or comments to <a href="mailto:inchingforward+st@gmail.com">inchingforward+st@gmail.com</a>.</p>
{% endblock %}
