{% extends "layout.html" %}

{% block content %}

<h1>Story Tellers</h1>

<h4>Create stories with a friend.</h4>

<p>If you're just looking around, open 2 browser windows.  <a href="/stories/create">Create</a> a new story in one, then <a href="/stories/join">join</a> the story using the story's Story Code in the other.</p>

<ul>
    <li><a href="/stories/create">Create a new story</a></li>
    <li><a href="/stories/join">Join a story</a></li>
    <li><a href="/stories">View published stories</a></li>
</ul>

{% endblock %}
