{% extends "layout.html" %}

{% block content %}
<h1>Story</h1>

{% if ErrorTitle %}
<h1>{{ ErrorTitle }}</h1>
<p>{{ Error }}</p>
{% endif %}

{% if Story %}
<h2>{{ Story.Title }}</h2>
<h3>{{ Story.Authors }}</h3>
{% endif %}

{% if Parts %}
    {% for part in Parts %}
        <p title="Written by {{ part.WrittenBy }} at {{ part.WrittenAt|time:"01/02/2006 3:04 PM MST" }} ">{{ part.PartText }}</p>
    {% endfor %}
{% else %}
    <p>No parts were added to this story!</p>
{% endif %}

{% endblock %}
