{% extends "layout.html" %}

{% block content %}
<h1>Edit Story</h1>

{% if ErrorTitle %}
<h1>{{ ErrorTitle }}</h1>
<p>{{ Error }}</p>
{% endif %}

{% if Story %}
<h1>{{ Story.Title }}</h1>
<h2>Authors: {{ Story.Authors }}</h2>

{{ Session.Values.Creator }}

{% if Session.Values.Creator %}
<p><a href="/stories/{{ Story.UUID }}/publish">Publish</a></p>
{% endif %}
{% endif %}
{% endblock %}

{% block script %}
<script>
StoryTellers.initAuthor("{{ Story.UUID }}", "{{ Session.Values.Author }}");
</script>
{% endblock %}
