{% extends "layout.html" %}

{% block content %}
<h1>Join Story</h1>

{% if ErrorTitle %}
<h1>{{ ErrorTitle }}</h1>
<p>{{ Error }}</p>
{% endif %}

<form method="POST" action="/stories/join">
    <label for="uuid">Story Code:</label><input type="text" name="uuid" id="uuid" value="{{ UUID }}" />
    <label for="author">Your Name:</label><input type="text" name="author" id="author" value="{{ Author }}" />

    <input class="button" type="submit" value="Join">
</form>

{% endblock %}

{% block script %}
<script>
    var uuid = document.getElementById("uuid");
    if (uuid) {
        document.getElementById("author").focus();
    }
</script>
{% endblock %}