{% extends "layout.html" %}

{% block content %}
<h1>Edit Story</h1>

{% if ErrorTitle %}
<h1>{{ ErrorTitle }}</h1>
<p>{{ Error }}</p>
{% endif %}

{% if Story %}
<h1>{{ Story.Title }}</h1>
<h3>{{ Session.Values.Author }}</h2>

{% if Session.Values.Creator %}
<h4>Invite a friend with this code: <span style="background-color: cornsilk">{{ Story.UUID }}</span></h3>
{% endif %}

<div class="container">
    <div class="row">
        <div class="column column-25">
            <h3>Chat</h3>
            <textarea name="chat_log" id="chat_log" rows="30" cols="40" style="height: 200px;"></textarea><br />
            <input type="text" name="chat_input" id="chat_input" /><br />
        </div>
        <div class="column column-75">
            <h3>Story</h3>
            <div class="story_text" style="height: 212px; border: 1px solid purple;"></div>

            {% if Session.Values.Creator %}
            <p><a href="/stories/{{ Story.UUID }}/publish">Publish</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
//StoryTellers.initAuthor("{{ Story.UUID }}", "{{ Session.Values.Author }}");

var url = "ws://" + window.location.host + "/ws";
var ws = new WebSocket(url);

var chat = document.getElementById("chat_log");
var text = document.getElementById("chat_input");

ws.onmessage = function (msg) {
    chat.value += msg.data + "\n";
    chat.scrollTop = chat.scrollHeight;
};

text.onkeydown = function (e) {
    if (e.keyCode === 13 && text.value !== "") {
        ws.send("<{{ Session.Values.Author }}> " + text.value);
        text.value = "";
    }
};

ws.onopen = function() {
    ws.send("** {{ Session.Values.Author }} has joined!");
}

text.focus();
</script>
{% endblock %}
